@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500,700&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 28px;
    word-spacing: 1px;
    height: 1000px;
}
header.my-header {
    background-color: #860386;
    color: #fff;
    padding: 22px 30px 50px;
    position: sticky;
    top: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
nav ul li a:hover{
    color: cadetblue;
}
.logo{
    float: left;
}
.my-nav{
    float: right;
}
#About {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTMcHa2Ougsd59Kvkq9iNxQi4cURV1v0hXjoK9F3_E7NfaoRJ_P);
    color: #fff;
    height: 300px;
    text-align: center;
    padding-top: 153px;
}
h2 {
    font-weight: bold;
    font-size: 34px;
    padding-bottom: 18px;
    color: #f7ceff;
}
section#Program {
    padding: 40px 0px 0 44px;
    height: 400px;
}
.program-list {
    width: 19%;
    background-color: #e8e6e6;
    padding: 15px 20px;
    float: left;
    margin-right: 10px;
    text-align: center;
    height: 227px;
    font-size: 17px;
    margin-top: 18px;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 20px;
}
p {
    font-size: 14px;
    line-height: 20px;
}
.text-center{
    text-align: center;
}
.color-black{
    color: black;
}
.text-uppercase{
    text-transform: uppercase;
}