body{
    background-color: beige;
}
 
body h1 {
    color: rgb(208, 119, 27);
    font-family: verdana;
    /*display: block;*/
    background-image: url("../img/reham.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align : center;
    font-size: 50px;
    padding: 50px 30px;
    margin: auto;
    margin-bottom: 30px;
}

ul{
    text-align: center;
}

nav ul li {
    display: inline-block;
    background-color: gray;
    padding: 20px 40px ;
    margin:0px 25px;
}

nav ul li a { 
    background-color: #eeeeee;
    color: goldenrod;
    text-align : center;
    width: 125px;
    height: 600px;
    font-size: 18px;
    padding: 5px 20px ;
}

pre {
    background-color:beige;
    color: #9b4f4f;
    font-family: verdana;
    font-size: 20px;
    margin: 40px;
}

h2 { 
    font-family: cursive;
    color: rgb(197, 117, 60);
    margin: 40px;
    font-size: x-large;
}

footer{ 
    color: rgb(250, 249, 249);
    background-color: rgb(8, 8, 8);
    display: block;
    text-align: center;
    margin:30px ;
}